body {
  margin: 0;
  padding: 0;
}

.cardlists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
  margin-top: 22em;
}

.card {
  width: calc(33.33% - 20px);
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 16px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.card-text {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 16px;
}

.cart {
  text-align: center;
}

span {
  background-color: white;
  color: black;
  margin-left: 10px;
  border-radius: 50%;
  padding: 3px;
}

.add-button,
.cart-button {
  font-size: 1.2rem;
  padding: 8px 16px;
  margin-right: 8px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-button {
  background-color: #8a2b06;
  color: #fff;
}

.add-button:hover {
  background-color: #b76e52;
}

.cart-button {
  background-color: #8a2b06;
  color: #fff;
}

.cart-button:hover {
  background-color: #b76e52;
}

@media (max-width: 1024px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 600px) {
  .card {
    width: calc(100% - 20px);
  }

  .cardlists {
    padding: 10px;
  }
}