body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f;
    color: #e0e0e0;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2.5em;
    color: #ffffff;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

form {
    max-width: 400px;
    width: 100%;
    min-height: 200px;
    background: linear-gradient(135deg, #1c1c1c, #333333);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
    border: 1px solid #444;
    margin-top: 18em;
    overflow-y: hidden;

}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 6px;
    background-color: #1f1f1f;
    color: #e0e0e0;
    transition: border-color 0.3s ease-in-out;
}

input:focus {
    border-color: #bb86fc;
}

.button {
    background: linear-gradient(135deg, #ff416c, #ff4b2b);
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    animation: fadeIn 1s ease-out;
    font-size: 16px;
    width: 100%;
}

.button:hover {
    background-color: #ff4b2b;
    transform: scale(1.05);
}

.message {
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

p {
    text-align: center;
}

p span a {
    color: #ff416c;
    text-decoration: none;
}

p span a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    form {
        width: 90%;
    }
}